<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Remote VM Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

{% if session.get("user_id") %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/dashboard">
            Remote VM Management
        </a>

    <div class="navbar-nav">

        <a class="nav-link {% if request.endpoint == 'dashboard.dashboard' %}active fw-bold{% endif %}"
             href="{{ url_for('dashboard.dashboard') }}">
            Dashboard
        </a>

        <a class="nav-link {% if request.endpoint == 'client.clients' %}active fw-bold{% endif %}"
            href="{{ url_for('client.clients') }}">
            Clients
    </a>

</div>
        <div class="ms-auto text-white">
            {{ session.get("username") }}
            <a href="/logout" class="btn btn-outline-light btn-sm ms-3">Logout</a>
        </div>
    </div>
</nav>
{% endif %}

<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

</body>
</html>